<div class="page" id="landing-page">
  <main>
    <div class="intro">Timothy Fisher</div>
    <div class="tagline">Developer | Leader | Mentor</div>
    <!-- Find your icons from here - https://fontawesome.com/icons?d=gallery&s=brands -->
    <div class="social-icons">
      <a title="Resume" target="_blank" href="https://resume.timothyfisher.com"><i class="fas fa-file-alt faa-bounce animated-hover faa-fast"></i></a>
      <a title="Github" target="_blank" href="https://github.com/timothyf"><i class="fab fa-github faa-bounce animated-hover faa-fast"></i></a>
      <a title="Twitter" target="_blank" href="https://twitter.com/tfisher"><i class="fab fa-twitter faa-bounce animated-hover faa-fast"></i></a>
      <a title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/timothyfisher"><i class="fab fa-linkedin faa-bounce animated-hover faa-fast"></i></a>
      <a title="Blog" target="_blank" href="https://timothyfisher.tumblr.com"><i class="fab fa-tumblr-square faa-bounce animated-hover faa-fast"></i></a>
    </div>
  </main>
</div>
