nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #303F9F;
  opacity: 0.75; }
  nav .menu {
    margin-right: 1rem;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    color: white;
    opacity: 1; }
    nav .menu__item {
      padding: 0.25rem 0;
      margin: 0 1rem;
      font-size: 1.25rem;
      font-weight: 400;
      color: white;
      text-decoration: none; }
      nav .menu__item:hover {
        cursor: pointer;
        text-decoration: underline; }
