---
title: Timothy Fisher
---

<main>
  <!-- <div id="outerbox" class="watermarked" data-watermark="Developer Leader Mentor"> -->
    <div class="intro">Timothy Fisher</div>
    <div class="tagline">Developer | Leader | Mentor</div>
    <!-- Find your icons from here - https://fontawesome.com/icons?d=gallery&s=brands -->
    <div class="icons-social">
      <a title="Resume" target="_blank" href="https://resume.timothyfisher.com"><i class="fas fa-file-alt"></i></a>
      <a title="Github" target="_blank" href="https://github.com/timothyf"><i class="fab fa-github"></i></a>
      <a title="Twitter" target="_blank" href="https://twitter.com/tfisher"><i class="fab fa-twitter"></i></a>
      <a title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/timothyfisher"><i class="fab fa-linkedin"></i></a>
      <a title="Blog" target="_blank" href="https://timothyfisher.tumblr.com"><i class="fab fa-tumblr-square"></i></a>
    </div>
  <!-- </div> -->
</main>
